@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'variables';
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-datepicker/dist/css/bootstrap-datepicker3.css';
@import '~dripicons/webfont/webfont';
@import '~select2/src/scss/core.scss';
@import '~select2-bootstrap-5-theme/src/select2-bootstrap-5-theme.scss';

.hidden {
    display: none;
}

.background {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#products {
    .form-control {
        min-width: 110px;
    }

    .input-group {
        min-width: 110px;

        .form-control {
            min-width: 0;
        }
    }

    textarea.form-control {
        min-width: 300px;
    }
}

.select2-container--bootstrap-5 {
    min-width: 150px;
}
